
h1{
    text-align: center;
}
nav{
    display: flex;
    background-color: rgb(223, 121, 11);
    justify-content: space-evenly;
}
a{
    width: 15%;
    background-color: #1dbbb0;
    padding: 2%;
    font-size: 30px;
    text-align: center;
    color: currentcolor;
    font-family: emoji;
    text-decoration: none;

}