.banner__imagen{
    background: url('../../img/banner.png') no-repeat center/cover;/*ASI REDUCIMOS ESPACIO*/
   /* background: url('../../img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;*/
    width: 100%;/*aparezca al todo el ancho de la pantalla*/
    height: calc(100vh - 72px);/**/
}
@media (min-width:0) {
    .banner__imagen{
        height: calc(100vh - 51px);
    }
}
@media (min-width:0) {
    .banner__imagen{
        height: calc(100vh - 72px);
    }
}