.persona__imagen{
height: 300px;/*damos la altura y en ancho para que aparezcan las imagenes*/
width: 300px;
margin: 0 auto;/*para que esten separadas*/
background-position: center;
background-repeat: no-repeat;/*para que no se repita la imagen*/
background-size: cover;/*necesario para que la imagen se tome bien y asi pueda tener correctamente redondo*/
border-radius: 100%;/*que las imagenes queden redondas*/
}
.persona__imagen--roberta{
background-image: url('../../img/personas/roberta.jpg');/*no se ostrara las imagenes hasta que le demos una dimension a las imagenes, cosa que hacemos arriba*/
}
.persona__imagen--marcela{
background-image: url('../../img/personas/marcela.jpg');
}
.persona__imagen--andreia{
background-image: url('../../img/personas/andrea.jpg');
}