    .titulo{
        padding-left: 30px; /* espaciamiento externo al izquierdo*/
    }
    .barberia{
        width: 100%;/*  ancgura*/
    }

    .principal{
        background-color: #CCCCCC;
        padding: 5%; 
    }
    .titulodesentralizado{
        text-align: center; /* alineamiento de tecto*/
    }

   p{
      text-align: center; 
    }

    em strong{
        color: red;
    }
    
    #mision{
        font-size: 20px;
    }
    .difenciales{
        background: white;
        padding: 5%;
    }
    h3{
        text-align: center;
    }
    .items{
        font-style: italic;
    }

    ul{
        display: inline-block;
        vertical-align: top;
        width: 15%;
        margin-right: 5%;
    }
    .diferencial{
        width: 50%;
        
    }

