.receta__boton{
    background: #da2b1f;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
}
.receta__boton:hover{/*cambiar algo del en el boton*/
    cursor: pointer;/*se convierte el cursor en mano*/
    background: #9f1010;/*cambia de color al pasar por ensima*/
    transition: all .1s ease-in-out;/*que la transicion sea asi de lenta*/
}